@import "tailwindcss";

/* CSS Variables */
:root {
  --primary-color: #1365e0;
  --secondary-color: #000;
  --white-color: #fff;
  --dark-grey: #333333;
  --light-grey: #d2d2d2;
  --dark-blue-text: #272341;
  --default-font-size: 1.6rem;
  --big-font-size: 4rem;
  --mid-font-size: 2.5rem;
}

/* Base Styles */
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--light-grey);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/* Typography */
h1 {
  font-weight: 700;
}

p,
a {
  font-family: "Montserrat", sans-serif;
  font-size: var(--default-font-size);
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin-top: 0;
  margin-bottom: 4.5rem;
  font-size: var(--big-font-size);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.dark-blue-text {
  color: var(--dark-blue-text) !important;
}

.text-color-main {
  background: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Buttons */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem var(--default-font-size);
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  border-radius: 0;
  text-decoration: none;
}

.cta-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

.cta-btn--hero {
  color: var(--secondary-color);
  -webkit-text-fill-color: var(--secondary-color);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  border-image-slice: 1;
}

.cta-btn--hero::after {
  background-image: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
}

.cta-btn--hero:hover {
  -webkit-text-fill-color: var(--white-color);
  text-decoration: none;
}

.cta-btn--hero:hover::after {
  width: 100%;
}

.cta-btn--resume {
  color: var(--white-color);
  border: 2px solid var(--white-color);
}

.cta-btn--resume::after {
  background: var(--white-color);
}

.cta-btn--resume:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.cta-btn--resume:hover::after {
  width: 100%;
}

.up i {
  color: #272727;
}

/* Hero Section */
#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: var(--white-color);
  font-weight: 400;
  color: var(--dark-blue-text);
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.hero-title {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  text-align: left;
}

.hero-cta {
  display: flex;
}

.hero-cta a {
  font-size: 2.4rem;
}

/* About Section */
#about {
  background-color: var(--primary-color);
  background-image: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  color: var(--white-color);
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
}

.about-wrapper__image {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.about-wrapper__info {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.about-wrapper__info-text {
  text-align: left;
}

/* Projects Section */
#projects {
  background-color: var(--white-color);
  color: var(--dark-blue-text);
  margin-top: -10rem;
  padding-top: 15rem;
}

.project-wrapper {
  margin-bottom: 15rem;
}

.project-wrapper .row {
  margin-bottom: 8rem;
}

.project-wrapper__text {
  text-align: left;
}

.project-wrapper__text-title {
  font-weight: bold;
  margin-bottom: 1.8rem;
  font-size: var(--mid-font-size);
}

.project-wrapper__text p > a {
  color: var(--secondary-color);
}

.project-wrapper__image {
  width: 90%;
  margin: 0 auto;
}

.project-wrapper__image .thumbnail {
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s ease-out;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s box-shadow,
    0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

/* Contact Section */
#contact {
  background-image: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: var(--white-color);
}

.contact-wrapper {
  margin-top: 3.2rem;
  padding: 0 2rem;
  backface-visibility: hidden;
}

.contact-wrapper__text {
  margin-bottom: 2.5rem;
  font-size: 2.4rem;
}

.contact-wrapper a {
  font-size: 2.4rem;
}

/* Footer */
.footer {
  background-color: var(--dark-grey);
  color: var(--white-color);
  padding: 4.8rem 0;
}

.footer__text {
  color: #808080;
  font-size: 1.3rem;
}

.footer__text a {
  color: #808080;
  font-size: 1.3rem;
  transition: all 0.4s;
  display: inline-block;
  background-color: var(--dark-grey);
}

.footer__text a:hover,
.footer__text a:active {
  color: var(--primary-color);
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.footer hr {
  margin: 1rem auto;
  border: 0;
  width: 50%;
  border-top: 2px solid grey;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white-color);
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  margin: var(--default-font-size) var(--default-font-size);
  transition: all 0.2s ease-in;
}

.social-links a:hover {
  transform: translateY(-2px);
}

.back-to-top i {
  color: var(--white-color);
  margin: 1rem 0 var(--default-font-size);
  transition: all 0.2s ease-in;
}

.back-to-top i:hover {
  transform: translateY(-2px);
}

/* Responsive Styles */

/* Tablet Landscape (max-width: 1200px) */
@media (max-width: 75em) {
  #about {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  #projects {
    margin-top: 0;
    padding-top: 5rem;
  }

  .project-wrapper__image {
    width: 100%;
    margin: 0;
  }

  .project-wrapper__text {
    margin-bottom: 4.8rem;
  }

  #contact {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }
}

/* Tablet Portrait (max-width: 900px) */
@media (max-width: 56.25em) {
  .hero-title {
    font-size: 3.6rem;
    text-align: center;
  }

  .hero-cta {
    justify-content: center;
  }

  .about-wrapper__info-text {
    text-align: left;
  }
}

/* Tablet Small (max-width: 768px) */
@media (max-width: 48em) {
  .about-wrapper__image {
    padding-bottom: 6.4rem;
  }

  .about-wrapper__info {
    align-items: center;
  }

  .about-wrapper__info-text {
    text-align: center;
  }
}

/* Phone (max-width: 600px) */
@media (max-width: 37.5em) {
  #hero {
    padding: 0rem var(--default-font-size);
  }

  .hero-title {
    font-size: 3.5rem;
    line-height: 1.5;
  }

  .hero-cta a {
    font-size: 2rem;
  }

  .section-title {
    font-size: 2.8rem;
  }

  .about-wrapper {
    padding-bottom: 5rem;
  }

  .project-wrapper {
    margin-bottom: 0rem;
  }

  .project-wrapper .row {
    margin-bottom: 4rem;
  }

  .project-wrapper__text {
    margin-bottom: 2.5rem !important;
  }

  .project-wrapper__text-title {
    font-size: 2rem;
  }

  .project-wrapper__image .thumbnail {
    border: 1px solid var(--light-grey);
    box-shadow: none;
    margin-bottom: 3.2rem;
  }

  .contact-wrapper__text,
  .contact-wrapper a {
    font-size: 2rem;
  }

  .footer {
    border: 0px;
  }

  .cta-btn--hero {
    background-image: none;
    border: 2px solid var(--secondary-color);
    -webkit-text-fill-color: var(--secondary-color);
  }

  .cta-btn--hero::after {
    background-image: none;
  }

  .cta-btn--hero:hover {
    -webkit-text-fill-color: var(--secondary-color);
  }
}

/* Phone XS (max-width: 320px) */
@media (max-width: 20em) {
  .hero-title {
    font-size: 2.8rem;
  }

  .section-title {
    font-size: 2.8rem;
  }
}
